data
tmp*
*.hdf5
*.mat
*.pyc
*.csv
*.txt
*.pileup
*.xlsx

*.bam
*.pileup
*.dc
Thumbs.db
*.eps
.DS_Store
*.vcf
*.fa
*.fai
*.bcf
*.bai
*.idx
*.intervals
*.indel
*.snp
*.xls
*.aux
*.log
*.gz
*.blg
*.fig
*.pdf
