data
tmp*
*.hdf5
*.mat
*.pyc

*.txt
*.pileup

*.jpg

*.bam
*.pileup
*.dc
Thumbs.db
*.eps
.DS_Store
*.vcf
*.fa
*.fai
*.bcf
*.bai
*.idx
*.intervals
*.indel
*.snp

*.aux
*.log
*.gz
*.blg
*.fig
*.pdf

*.pptx
.texpadtmp
*.bbl
*.out
