data
tmp*
*.hdf5
*.mat
*.pyc
*.docx
*.txt
*.pileup
*.xlsx
*.jpg
*.csv
*.bam
*.pileup
*.dc
Thumbs.db
*.eps
.DS_Store
*.vcf
*.fa
*.fai
*.bcf
*.bai
*.idx
*.intervals
*.indel
*.snp
*.xls
*.aux
*.log
*.gz
*.blg
*.fig
*.pdf
doc/2016rvd3_draft/.texpadtmp
